<%# <h1>Movies#index</h1>
<p>Find me in app/views/movies/index.html.erb</p> %>
<h2>Top 100 Movies</h2>
<ol>
  <% @movies.each do |movie| %>
  <li><%= link_to movie.title, movie %> was produced by <%= link_to movie.production_company.name, movie.production_company %></li>
  <% end%>
</ol>
